{
  "log": {
    "_recordingName": "fetch-applications",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "265fa08212f502e8cac45129d0af734c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://a.simplemdm.com/api/v1/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 106,
            "text": "{\"data\":{\"type\":\"account\",\"attributes\":{\"name\":\"JupiterOne, Inc.\",\"apple_store_country_code\":\"US\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"d5169a64d6e846c2d95f0c0945091f42-gzip\""
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 827,
      },
      {
        "_id": "5d1b17a280074bb4f53cdbabad009d9e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://a.simplemdm.com/api/v1/devices?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1201,
            "text": "{\"data\":[{\"type\":\"device\",\"id\":897636,\"attributes\":{\"name\":\"iPhone 6S - rose gold\",\"last_seen_at\":\"2022-07-15T15:10:05.000Z\",\"last_seen_ip\":\"136.36.62.44\",\"status\":\"enrolled\",\"enrollment_channels\":[\"device\"],\"device_name\":\"Samuel’s iPhone\",\"os_version\":\"13.3\",\"build_version\":\"17C54\",\"model_name\":\"iPhone 6s\",\"model\":\"MKQD2LL\",\"product_name\":\"iPhone8,1\",\"unique_identifier\":\"d483069fe5f5b6114f01abb49d291125e399d5de\",\"serial_number\":\"FK1QQ3ATGRY0\",\"processor_architecture\":null,\"imei\":\"35 325807 416175 0\",\"meid\":\"35325807416175\",\"device_capacity\":48.6917,\"available_device_capacity\":41.396,\"battery_level\":\"100%\",\"modem_firmware_version\":\"7.30.02\",\"iccid\":\"8901 4104 2785 9535 3006\",\"bluetooth_mac\":\"6c:72:e7:d2:61:f8\",\"ethernet_macs\":[],\"wifi_mac\":\"6c:72:e7:d2:61:f7\",\"current_carrier_network\":null,\"sim_carrier_network\":null,\"subscriber_carrier_network\":\"AT&T\",\"carrier_settings_version\":\"40.0\",\"phone_number\":\"+18013684495\",\"voice_roaming_enabled\":false,\"data_roaming_enabled\":false,\"is_roaming\":false,\"subscriber_mcc\":\"310\",\"subscriber_mnc\":\"410\",\"simmnc\":null,\"current_mcc\":\"310\",\"current_mnc\":\"260\",\"hardware_encryption_caps\":3,\"passcode_present\":true,\"passcode_compliant\":true,\"passcode_compliant_with_profiles\":true,\"is_supervised\":false,\"is_dep_enrollment\":false,\"is_user_approved_enrollment\":null,\"is_device_locator_service_enabled\":false,\"is_do_not_disturb_in_effect\":false,\"personal_hotspot_enabled\":false,\"itunes_store_account_is_active\":false,\"cellular_technology\":3,\"last_cloud_backup_date\":null,\"is_activation_lock_enabled\":false,\"is_cloud_backup_enabled\":false,\"filevault_enabled\":false,\"filevault_recovery_key\":null,\"lost_mode_enabled\":false,\"firmware_password_enabled\":false,\"recovery_lock_password_enabled\":false,\"remote_desktop_enabled\":null,\"firmware_password\":null,\"recovery_lock_password\":null,\"firewall\":{\"enabled\":null,\"block_all_incoming\":null,\"stealth_mode\":null},\"system_integrity_protection_enabled\":null,\"os_update\":{\"automatic_os_installation_enabled\":null,\"automatic_app_installation_enabled\":null,\"automatic_check_enabled\":null,\"automatic_security_updates_enabled\":null,\"background_download_enabled\":null,\"catalog_url\":null,\"default_catalog\":null,\"perform_periodic_check\":null,\"previous_scan_date\":null,\"previous_scan_result\":null},\"service_subscriptions\":[{\"slot\":\"CTSubscriptionSlotOne\",\"carrier_settings_version\":\"40.0\",\"current_carrier_network\":\"\",\"current_mcc\":\"310\",\"current_mnc\":\"260\",\"iccid\":\"8901 4104 2785 9535 3006\",\"imei\":\"35 325807 416175 0\",\"is_data_preferred\":true,\"is_voice_preferred\":true,\"label\":\"USER_LABEL_PRIMARY\",\"meid\":\"35325807416175\"}],\"location_latitude\":null,\"location_longitude\":null,\"location_accuracy\":null,\"location_updated_at\":null},\"relationships\":{\"device_group\":{\"data\":{\"type\":\"device_group\",\"id\":106751}}}}],\"has_more\":false}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"620074eb059428bd687a84272363b10c-gzip\""
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 802,
      },
      {
        "_id": "5b1973bf3478c84cec898e138c4e770b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://a.simplemdm.com/api/v1/devices/897636/installed_apps"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 256,
            "text": "{\"data\":[{\"type\":\"installed_app\",\"id\":6819243195,\"attributes\":{\"name\":\"SimpleMDM\",\"identifier\":\"com.unwiredrev.DeviceLink.public\",\"version\":\"2.1.2.0\",\"short_version\":\"2.1.2\",\"bundle_size\":19329024,\"dynamic_size\":90112,\"managed\":true,\"discovered_at\":\"2022-07-14T16:10:37.000Z\",\"last_seen_at\":\"2022-07-15T15:10:05.000Z\"}}],\"has_more\":false}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"ef718095bd21c2b2c51f30392b6c8666-gzip\""
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 612,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
