{
  "log": {
    "_recordingName": "fetch-applications",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "265fa08212f502e8cac45129d0af734c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://a.simplemdm.com/api/v1/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 148,
            "text": "{\"data\":{\"type\":\"account\",\"attributes\":{\"name\":\"JupiterOne\",\"apple_store_country_code\":\"US\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"e5de430a03905b9246abf0314848d8fb\""
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 195,
      },
      {
        "_id": "5d1b17a280074bb4f53cdbabad009d9e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://a.simplemdm.com/api/v1/devices?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1671,
            "text": "{\"data\":[{\"type\":\"device\",\"id\":1635723,\"attributes\":{\"name\":\"Test\",\"last_seen_at\":\"2024-07-01T21:32:19.000Z\",\"last_seen_ip\":\"76.149.233.126\",\"enrolled_at\":\"2024-07-01T19:28:08.000Z\",\"status\":\"enrolled\",\"enrollment_channels\":[\"device\",\"user\"],\"device_name\":\"MacBook Pro\",\"auto_admin_name\":null,\"os_version\":\"14.4.1\",\"build_version\":\"23E224\",\"model_name\":\"MacBook Pro\",\"model\":\"MacBookPro16,1\",\"product_name\":\"MacBookPro16,1\",\"unique_identifier\":\"8B8836BE-AC2F-59CB-8C32-E18B64BE2914\",\"serial_number\":\"C02CMD3NMD6M\",\"processor_architecture\":\"Intel\",\"imei\":null,\"meid\":null,\"device_capacity\":499.0,\"available_device_capacity\":229.0,\"battery_level\":\"100%\",\"modem_firmware_version\":null,\"iccid\":null,\"bluetooth_mac\":\"3C:22:FB:92:B4:0B\",\"ethernet_macs\":[\"3c:22:fb:88:06:82\"],\"wifi_mac\":\"3c:22:fb:88:06:82\",\"current_carrier_network\":null,\"sim_carrier_network\":null,\"subscriber_carrier_network\":null,\"carrier_settings_version\":null,\"phone_number\":null,\"voice_roaming_enabled\":null,\"data_roaming_enabled\":null,\"is_roaming\":null,\"subscriber_mcc\":null,\"subscriber_mnc\":null,\"simmnc\":null,\"current_mcc\":null,\"current_mnc\":null,\"hardware_encryption_caps\":null,\"passcode_present\":null,\"passcode_compliant\":null,\"passcode_compliant_with_profiles\":null,\"is_supervised\":true,\"is_dep_enrollment\":false,\"dep_enrolled\":false,\"dep_assigned\":false,\"is_user_approved_enrollment\":true,\"is_device_locator_service_enabled\":null,\"is_do_not_disturb_in_effect\":null,\"personal_hotspot_enabled\":null,\"itunes_store_account_is_active\":true,\"cellular_technology\":null,\"last_cloud_backup_date\":null,\"is_activation_lock_enabled\":true,\"is_cloud_backup_enabled\":false,\"filevault_enabled\":true,\"filevault_recovery_key\":null,\"lost_mode_enabled\":false,\"firmware_password_enabled\":false,\"recovery_lock_password_enabled\":false,\"remote_desktop_enabled\":false,\"supplemental_build_version\":\"23E224\",\"supplemental_os_version_extra\":null,\"time_zone\":null,\"user_enrollment\":false,\"ddm_enabled\":true,\"firmware_password\":null,\"recovery_lock_password\":null,\"firewall\":{\"enabled\":false,\"block_all_incoming\":false,\"stealth_mode\":false},\"system_integrity_protection_enabled\":true,\"os_update\":{\"automatic_os_installation_enabled\":true,\"automatic_app_installation_enabled\":true,\"automatic_check_enabled\":null,\"automatic_security_updates_enabled\":true,\"background_download_enabled\":true,\"catalog_url\":\"https://swscan.apple.com/content/catalogs/others/index-14-13-12-10.16-10.15-10.14-10.13-10.12-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog.gz\",\"default_catalog\":true,\"perform_periodic_check\":null,\"previous_scan_date\":\"2024-07-01T19:33:28.000Z\",\"previous_scan_result\":\"2\"},\"service_subscriptions\":[],\"location_latitude\":null,\"location_longitude\":null,\"location_accuracy\":null,\"location_updated_at\":null},\"relationships\":{\"device_group\":{\"data\":{\"type\":\"device_group\",\"id\":143357}},\"custom_attribute_values\":{\"data\":[]}}}],\"has_more\":false}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6d4b84b34bb81cfb1ee3a929b483aed3\""
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 135,
      },
      {
        "_id": "dddd90cde159af66be6541726e7c7730",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://a.simplemdm.com/api/v1/devices/1635723/installed_apps?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3321,
            "text": "{\"data\":[{\"type\":\"installed_app\",\"id\":12303072499,\"attributes\":{\"name\":\"Safari\",\"identifier\":\"com.apple.Safari\",\"version\":\"17.4.1\",\"short_version\":\"17.4.1\",\"bundle_size\":13373335,\"dynamic_size\":null,\"managed\":false,\"discovered_at\":\"2024-07-01T19:28:16.000Z\",\"last_seen_at\":\"2024-07-01T21:32:19.000Z\"}},{\"type\":\"installed_app\",\"id\":12303072500,\"attributes\":{\"name\":\"Wireless Diagnostics\",\"identifier\":\"com.apple.wifi.diagnostics\",\"version\":\"11.0\",\"short_version\":\"11.0\",\"bundle_size\":1,\"dynamic_size\":null,\"managed\":false,\"discovered_at\":\"2024-07-01T19:28:16.000Z\",\"last_seen_at\":\"2024-07-01T21:32:19.000Z\"}},{\"type\":\"installed_app\",\"id\":12303072501,\"attributes\":{\"name\":\"iOS A[...]
