{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "265fa08212f502e8cac45129d0af734c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://a.simplemdm.com/api/v1/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 106,
            "text": "{\"data\":{\"type\":\"account\",\"attributes\":{\"name\":\"JupiterOne, Inc.\",\"apple_store_country_code\":\"US\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"d5169a64d6e846c2d95f0c0945091f42-gzip\""
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1037,
      },
      {
        "_id": "5d1b17a280074bb4f53cdbabad009d9e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://a.simplemdm.com/api/v1/devices?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1195,
            "text": "{\"data\":[{\"type\":\"device\",\"id\":872292,\"attributes\":{\"name\":\"JupiterOne Macbook Air\",\"last_seen_at\":\"2022-06-21T21:09:52.000Z\",\"last_seen_ip\":\"[REDACTED]\",\"status\":\"enrolled\",\"enrollment_channels\":[\"device\",\"user\"],\"device_name\":\"RickandMorty-MBP\",\"os_version\":\"12.0.1\",\"build_version\":\"21A559\",\"model_name\":\"MacBook Air (Retina, 13-inch, 2020)\",\"model\":\"MacBookAir9,1\",\"product_name\":\"MacBookAir9,1\",\"unique_identifier\":\"644D7162-2B41-5A68-9AA7-8DB4FC6ABFF5\",\"serial_number\":\"C02D91CNPV4M\",\"processor_architecture\":\"Intel\",\"imei\":null,\"meid\":null,\"device_capacity\":250.0,\"available_device_capacity\":228.0,\"battery_level\":null,\"modem_firmware_version\":null,\"iccid\":null,\"bluetooth_mac\":\"14:7D:DA:4E:50:6D\",\"ethernet_macs\":[\"14:7d:da:4f:73:10\"],\"wifi_mac\":\"14:7d:da:4f:73:10\",\"current_carrier_network\":null,\"sim_carrier_network\":null,\"subscriber_carrier_network\":null,\"carrier_settings_version\":null,\"phone_number\":null,\"voice_roaming_enabled\":null,\"data_roaming_enabled\":null,\"is_roaming\":null,\"subscriber_mcc\":null,\"subscriber_mnc\":null,\"simmnc\":null,\"current_mcc\":null,\"current_mnc\":null,\"hardware_encryption_caps\":null,\"passcode_present\":null,\"passcode_compliant\":null,\"passcode_compliant_with_profiles\":null,\"is_supervised\":true,\"is_dep_enrollment\":false,\"is_user_approved_enrollment\":true,\"is_device_locator_service_enabled\":null,\"is_do_not_disturb_in_effect\":null,\"personal_hotspot_enabled\":null,\"itunes_store_account_is_active\":false,\"cellular_technology\":null,\"last_cloud_backup_date\":null,\"is_activation_lock_enabled\":false,\"is_cloud_backup_enabled\":false,\"filevault_enabled\":true,\"filevault_recovery_key\":null,\"lost_mode_enabled\":false,\"firmware_password_enabled\":false,\"recovery_lock_password_enabled\":false,\"remote_desktop_enabled\":false,\"firmware_password\":null,\"recovery_lock_password\":null,\"firewall\":{\"enabled\":true,\"block_all_incoming\":false,\"stealth_mode\":false},\"system_integrity_protection_enabled\":true,\"os_update\":{\"automatic_os_installation_enabled\":false,\"automatic_app_installation_enabled\":false,\"automatic_check_enabled\":null,\"automatic_security_updates_enabled\":true,\"background_download_enabled\":true,\"catalog_url\":\"https://swscan.apple.com/content/catalogs/others/index-12-10.16-10.15-10.14-10.13-10.12-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog.gz\",\"default_catalog\":true,\"perform_periodic_check\":null,\"previous_scan_date\":\"2022-06-21T13:25:57.000Z\",\"previous_scan_result\":\"2\"},\"service_subscriptions\":[],\"location_latitude\":null,\"location_longitude\":null,\"location_accuracy\":null,\"location_updated_at\":null},\"relationships\":{\"device_group\":{\"data\":{\"type\":\"device_group\",\"id\":106751}}}}],\"has_more\":false}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"ba435b31a48a7f38589d6fe3425532c8-gzip\""
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 840,
      },
      {
        "_id": "516eb0c710b2b8821026394b51ca2658",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://a.simplemdm.com/api/v1/devices/872292/users?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 230,
            "text": "{\"data\":[{\"type\":\"device_user\",\"id\":133564304,\"attributes\":{\"username\":\"rickmorty\",\"full_name\":\"Rick & Morty\",\"uid\":501,\"user_guid\":\"564C0D24-3A54-4B64-BA53-44C0F6C39A74\",\"data_quota\":null,\"data_used\":null,\"data_to_sync\":false,\"secure_token\":true,\"logged_in\":true,\"mobile_account\":false}}],\"has_more\":false}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"8f44b704d2caf4b374dbc5f996405722-gzip\""
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 897,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
