{
  "log": {
    "_recordingName": "fetch-access-roles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "265fa08212f502e8cac45129d0af734c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://a.simplemdm.com/api/v1/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 106,
            "text": "{\"data\":{\"type\":\"account\",\"attributes\":{\"name\":\"JupiterOne, Inc.\",\"apple_store_country_code\":\"US\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"d5169a64d6e846c2d95f0c0945091f42-gzip\""
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 806,
      },
      {
        "_id": "6464f1a0c9c41ef33ebd77f45a3ded39",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://a.simplemdm.com/api/v1/apps?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 173,
            "text": "{\"data\":[{\"type\":\"app\",\"id\":490899,\"attributes\":{\"name\":\"SimpleMDM\",\"app_type\":\"apple store\",\"itunes_store_id\":847612226,\"bundle_identifier\":\"com.unwiredrev.DeviceLink.public\"}}],\"has_more\":false}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"e26506b90e2513b1ebdbdfc8feb21cff-gzip\""
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 858,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
